<footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">
  
    
      <div class="row">
  
      
        <div class="col-md-6 mt-md-0 mt-3">
  
          
          <h5 class="text-uppercase">Plataforma virtual Para Usar Operaciones Matematicas</h5>
          <h6>Este sitio es un recurso pedagógico y tecnológico, dirigido a la <br> comunidad en general, 
             con el fin de facilitar la operacion entre numeros</h6>
  
        </div>
     
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        
        <div class="col-md-3 mb-md-0 mb-3">

        </div>
       
        <div class="col-md-3 mb-md-0 mb-3">
  
         <h5 class="text-uppercase">Enlaces De Interes</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Opiniones</a>
            </li>
            <li>
              <a href="#!">Comunidad</a>
            </li>
            <li>
              <a href="#!">Chat</a>
            </li>
            <li>
              <a href="#!">Ayuda</a>
            </li>
          </ul>
  
        </div>
  
      </div>
      
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> Ing.Melkisedeth.com</a>
    </div>
   
  
  </footer>